<div class="row bg-dark text-light rounded">
  <div class="col-12 d-flex justify-content-center mt-3">
    <img src="https://thispersondoesnotexist.com/image" alt="photo" class="img-fluid img-thumbnail" style="width: 400px; height: 400px;">
  </div>
  <div class="col-12 d-flex justify-content-center">
    Nom : Renou
  </div>
  <div class="col d-flex justify-content-center">
    Prenoms : Antoine
  </div>

  <div class="col-12 mt-3">
    <p class="text-justify">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt, elit eu sodales interdum, nisi elit dignissim lacus, eu laoreet velit magna a dolor. Maecenas feugiat neque eu ullamcorper hendrerit. Suspendisse posuere id magna sed laoreet. Maecenas porttitor quam sollicitudin libero rutrum scelerisque. Proin consectetur dictum metus. Proin massa libero, luctus vel porttitor convallis, pretium vel nisi. Morbi tincidunt, risus in iaculis ultrices, turpis tellus dictum nibh, lacinia porta ligula elit at odio. Integer hendrerit pharetra viverra. Fusce ac nisl et dui lacinia malesuada vel id nisi. Aliquam erat volutpat. Nulla lectus eros, fringilla in enim finibus, luctus aliquet tellus. Vestibulum vitae vulputate dolor.

      Duis a dui nec arcu ullamcorper pellentesque. Phasellus tristique consequat felis sed ultricies. Fusce bibendum nulla vestibulum, vehicula dolor sit amet, dapibus sapien. Duis interdum, elit ut aliquet fringilla, neque metus blandit tortor, fringilla placerat enim tellus in orci. Sed nec aliquam sapien. Maecenas feugiat lobortis lorem. Vestibulum semper tristique accumsan. Nunc pellentesque ligula non sem congue pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam pellentesque ex a diam scelerisque, id dapibus massa commodo. Fusce condimentum aliquam ipsum, ac vulputate enim aliquam et. In tincidunt pretium congue.

      Vestibulum eget lacus efficitur, rutrum ligula quis, luctus tortor. Praesent malesuada, nibh nec iaculis congue, tellus lorem sodales neque, in dignissim arcu enim ac nibh. Praesent leo nisi, sollicitudin vitae nunc ut, scelerisque laoreet lectus. Curabitur eu faucibus nulla. Nullam velit dui, tempor a consectetur ac, faucibus ut mi. In bibendum urna in ligula consectetur gravida. Morbi quis sapien ac erat vehicula cursus. Aliquam ut eros lobortis lorem efficitur congue quis nec lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

      Ut maximus est vitae scelerisque molestie. In lacus tellus, hendrerit congue nisl vel, accumsan convallis lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum interdum mollis odio, sed mattis erat luctus sit amet. Vestibulum nibh arcu, commodo vitae nisl vel, euismod vehicula dui. Vestibulum iaculis faucibus hendrerit. Curabitur efficitur tincidunt leo aliquam dapibus. Mauris ac est ultrices, consectetur ante sit amet, rhoncus nisl. Fusce non dignissim urna, vel pulvinar ante. In in tellus a velit placerat tempus. Duis sem lacus, dictum ac lacinia sit amet, commodo sit amet diam. Morbi metus sem, eleifend non dignissim vel, luctus in dui. Nam pharetra convallis ligula eu sodales.

      Cras egestas ex in mauris aliquam, a suscipit erat fermentum. Fusce quis massa ut lacus porta sodales ut et dolor. Phasellus porttitor odio erat, at rutrum tortor aliquet sit amet. Nulla vulputate ut enim sit amet bibendum. Nam sagittis mauris eu justo efficitur, ut fringilla ipsum cursus. Morbi ac arcu ac arcu commodo tincidunt. Suspendisse velit urna, imperdiet ac fermentum et, bibendum in est. Duis eros risus, tincidunt at congue sed, fringilla a lectus. Praesent dictum sodales felis, et tempus odio mollis vitae. Sed faucibus blandit velit, vel eleifend nunc interdum eu. Pellentesque tincidunt in quam eu convallis. Proin luctus metus in urna volutpat, in tincidunt tellus rhoncus. Curabitur tincidunt in nibh at rutrum. Suspendisse eu sollicitudin odio, nec faucibus libero. Sed pharetra interdum lacinia. Phasellus sed molestie libero, at accumsan justo. </p>
  </div>
</div>
